<nav>
  <div>
      <a href="/">Movie Inventory</a>
      <p>A movie simple movie inventory app</p>
  </div>
  <div>
    <h2><%= title %></h2>
  </div>
  <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/genres">Genres</a></li>
  </ul>
</nav>