<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Movie</title>
</head>
<body>
  <div>
    <form action="/movies/add" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
      <label for="release_year">Release Year:</label>
      <input type="number" id="release_year" name="release_year" required>  
      <label for="first_name">Director First Name:</label>
      <input type="text" id="first_name" name="first_name" required>
      <label for="last_name">Director Last Name:</label>
      <input type="text" id="last_name" name="last_name" required>
      <label for="runtime">Runtime:</label>
      <input type="number" id="runtime" name="runtime" required>
      <label for="meta_score">Meta Score:</label>
      <input type="number" id="meta_score" name="meta_score" required>
      <label for="imdb_score">IMDB Score:</label>
      <input type="number" id="imdb_score" name="imdb_score" required>
      <label for="revenue_in_dollar">Total Gross in $:</label>
      <input type="number" id="revenue_in_dollar" name="revenue_in_dollar" required>
      <label for="overview">Overview:</label>
      <textarea id="overview" name="overview" required></textarea>
      <label for="genres">Genres:</label>
      <input type="text" id="genres" name="genres" required>
      <label for="img_url">Image URL:</label>
      <input type="text" id="img_url" name="img_url" required>
      <button type="submit">Add Movie</button>
    </form>
  </div>
</body>
</html>